:host {
  display: flex;
  width: 250px;
  height: 400px;

  > form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    > div.main {
      > div.main__param-box {
        display: flex;
        flex-direction: column;
        padding: .5em 0;

        > label.main__param-box__label {
          padding-bottom: .5em;
        }
      }
    }

    > div.footer {
      display: flex;
      justify-content: flex-end;

      > button.footer__btn {
        border: 1px solid black;
        margin-left: .5em;
      }
    }
  }
}
