<form [formGroup]="reportParams">
  <div class="header">
    <label>Параметры поиска</label>
  </div>
  <div class="main">
    <div class="main__param-box">
      <label class="main__param-box__label label-field-name">Пол</label>
      <mat-button-toggle-group formControlName="gender" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="1">мужской</mat-button-toggle>
        <mat-button-toggle value="2">женский</mat-button-toggle>
        <mat-button-toggle value="0">любой</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="main__param-box">
      <label class="main__param-box__label label-field-name">Возраст: {{reportParams.controls['age'].value}}</label>
      <mat-slider formControlName="age" min="18" max="50" step="1"></mat-slider>
    </div>
    <div class="main__param-box">
      <label class="main__param-box__label label-field-name">Радиус поиска: {{reportParams.controls['distance'].value}}</label>
      <mat-slider formControlName="distance" min="0" max="150" step="1"></mat-slider>
    </div>
  </div>
  <div class="footer">
    <button class="footer__btn" mat-button (click)="onCancel()">Отмена</button>
    <button class="footer__btn" mat-button color="primary" (click)="report()">Поиск</button>
  </div>
</form>
