body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body, html, app-root {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  color: whitesmoke;
}

.label-field-name {
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
  padding-right: .5em;
}

.label-field-value {
  font-size: 1.5em;
  font-weight: bold;
}
